:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

.page {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 3%;
}

.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-text {
  color: var(--accent-color);
}

/* site nav and connection link */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
}

.connection-link .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.connection-link .link:hover,
.connection-link .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 6%;
  text-transform: uppercase;
}

/* button */

.button {
  color: #ffffff;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6%;
}

/* feature */

.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.feature-list .feature-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* сфера деятельности */

/* Команда */

.team-subtitle {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
}

/* Футер */
footer {
  background-color: #2f303a;
}

.logo-part {
  color: #ffffff;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7px;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* Портфолио */

/* Фильтр */

.button-text {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
}

.button-text:hover,
.button-text:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Проекты */

.projects-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 6%;
}

.projects-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.projects-link {
  text-decoration: none;
}
